<% provide(:title, "New answer") %>


<h1>New answer</h1>

<input id="answer-content" name="answer-content" /><br/>
<input id="answer-question" name="answer-question" type="hidden" value="<%= @question.id %>" />
<input id="answer-company" name="answer-company" type="hidden" value="<%= @question.company_id %>" /><br/>
<a id="add-answer" class="btn spacer">Add Answer</a>