<% provide(:title, 'Home') %>

<h1> MITJobTalk </h1>
<br />
<% if notice && @current_user %>
<h5> <%= notice %> </h5>
<% end %>
<% if !@current_user %>
<h4> The one and only MIT company, job, and interview resource! </h4>
<% end %>
<br>
<% if @current_user %>
<%= form_for(Company.new) do |f| %>
<input id ="company_name" name="company[name]" type="text" placeholder="Company Name" autocomplete="off" />
<input type="submit" id="add_button" value="Add Company" name="commit">
<% end %>
<% end %>

<div id="companies">
</div>

<%= javascript_tag  do %>

$('#company_name').keyup(function () {
  load();
});

$('#add_button').hide();


<% end %>

<br>
<% if @current_user %>
<%= link_to "Show all companies", companies_url %>
<% end %>
