<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to MITJobTalk.mit.edu</h1>
    <p>
      You have successfully signed up to MITJobTalk.mit.edu
      <br/>
    </p>
    <p>
      Please verify your email address by follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
