<h1>New interview</h1>

<textarea id="interview-content" name="interview-content" rows="5" ></textarea><br/>
<input id="interview-company" name="interview-company" value=@company.id type="hidden"/><br/>
<a id="add-interview">Add Interview</a>

