<h1>New interview</h1>

<textarea id="interview-content" name="interview-content" rows="5" ></textarea><br/>
<input id="interview-company" name="interview-company" type="hidden" value="<%= @company.id %>" /><br/>
<a id="add-interview" class="btn spacer">Add Interview</a>