<% provide(:title, @company.name + " | New interview") %>


<h1>New interview</h1>

<textarea id="interview-content" name="interview-content" placeholder="Describe 
your interview experience: walk through the process, the questions, impressions about your interviewer
and any other relevant information." rows="5" cols="15" ></textarea><br/>
<input id="interview-company" name="interview-company" type="hidden" value="<%= @company.id %>" /><br/>
<a id="add-interview" class="btn spacer">Add Interview</a>
