<h1>New question</h1>

<input id="question-content" name="question-content" /><br/>
<input id="question-company" name="question-company" type="hidden" value="<%= @company.id %>" /><br/>
<a id="add-question" class="btn spacer">Add Question</a>