
<h3>Results</h3>
<br />
<% if @notice != nil %>

<h4><i><%= @notice %></h4></i>
<br />

<%= javascript_tag  do %>
$('#add_button').toggle(true);
<% end %>

<% else %>
<table>
<% @companies.each do |company| %>
  <tr>
    <td><%= link_to company.name, company %></td>
  </tr>
<% end %>
</table>

<% end %>

