@import "bootstrap";
@import "jqueryui";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/** all pages **/

body {
  padding-top: 60px;
  background-color: #f5f5f5;
  font-family: "Open Sans";
}

.form-signin {
  max-width: 300px;
  padding: 20px 30px 30px;
  margin: 0 auto 20px;
  margin-bottom: 10px;
}

#input-block-email,
#input-block-password,
#input-block-confirm-password {
  font-size: 16px;
  height: auto;
  padding: 7px 9px;
}

#actions-btn {
  color: white;
  background-color: #006DCC;
  padding: 11px 19px;
  font-size: 17.5px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.company .span4 {
  text-align: center;
}

.company h2 {
  font-weight: normal;
}

.company .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.title, .search {
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 20px;
}

.company-divider {
  margin-bottom: 30px;
}

.company-btn {
  background-color: #006DCC;
  padding: 11px 11px;
  font-size: 17.5px;
  border-radius: 6px;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 9%;
  margin-right: 9%;
  width: 82%;
}

#company-btn{
  color: white;
}

#interview-cont {
  background-color: #f5f5f5;
  border: 1px;
  border-radius: 2px;
  margin-left: 9%;
  margin-right: 9%;
  width: 82%;
  margin-bottom: 10px;
  padding: 4px 4px;
  padding-left: 8px;
}

#interview-date {
  text-align: right;
  color: #808080;
}

#question-cont {
  background-color: #f5f5f5;
  border: 1px;
  border-radius: 2px;
  margin-left: 9%;
  margin-right: 9%;
  width: 82%;
  margin-bottom: 10px;
  padding: 4px 4px;
  padding-left: 8px;
}

#question-date {
  text-align: right;
  color: #808080;
  margin-left: 75%;
}

#answer-cont {
  background-color: #e5e5e5;
  border: 1px;
  border-radius: 2px;
  margin-left: 15%;
  margin-right: 9%;
  width: 76%;
  margin-bottom: 10px;
  padding: 4px 4px;
  padding-left: 8px;
}

#answer-date {
  text-align: right;
  color: #808080;
}

#interview-q {
  background-color: #e5e5e5;
  border: 1px;
  border-radius: 2px;
  margin-left: 15%;
  margin-right: 9%;
  width: 76%;
  margin-bottom: 10px;
  padding: 4px 4px;
  padding-left: 8px;
}

#interview-rate {
  background-color: black;
  border-radius: 5px;
  width: 20px;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

#answer-content {
  border: 1px;
  border-radius: 2px;
  padding: 4px 4px;
  width: 90%;
}

.add-answer-btn {
  background-color: #006DCC;
  border: 1px;
  border-radius: 2px;
  margin-left: 15%;
  margin-right: 9%;
  width: 76%;
  margin-bottom: 10px;
  padding: 4px 4px;
  padding-left: 8px;
}

#add-answer-btn{
  color:white;
  display: inline-block;
}

#back-icon {
  margin-left: -30px;
  margin-right: 10px;
  display: inline-block;
  color:white;
}

#back-icon:hover {
  color:black;
}

#company-name {
  display:inline-block;
  font-family: "Open Sans";
}

#company-name a {
  color:black;
}

#company-name a:hover {
  background-color: white;
  color: #006DCC;
  text-decoration: none;
}

#plus-icon,
#plus-icon-i,
#search-icon-i,
#plus-icon-question {
  display:inline-block;
  margin-left: 10px;
  vertical-align: 30%;
  color:black;
}

#plus-icon:hover,
#plus-icon-i:hover,
#search-icon-i:hover,
#plus-icon-question:hover {
  color:#006DCC;
  background-color: white;
  cursor: pointer;
}

#dialog-form {
  height:150px;
}

.ui-dialog{
  position:absolute;
  margin-top: 130px;
  margin-left: 520px;
  background: white;
  border: 2px;
  border-color: black;
  border-radius: 2px;
  padding: 10px;
  height: 150px;
}

#accordian div {
  border: none;
}

/* home page */

#home_icon {
  padding-top: 20px;
  padding-bottom:20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#info {
  font-family: "Open Sans";
}

#info p {
  font-family: "Open Sans";
}

#info #join {
  font-size: 20px;
  margin-top: 10px;

}

#home_arrow {
  vertical-align: text-bottom;
  color:#FF1D25;
}

#company_search,
#registration {
  background-color:#E8E8E8;
  border:1px;
  border-radius:5px;
  height:400px;
  padding: 10px;
  font-family: "Open Sans";
}

#registration h4 {
  text-align: center;
  margin-top: 15px;
}

#registration p {
  text-align: center;
  margin-bottom: -10px;
  font-family: "Open Sans";
}

#add_button {
  color: white;
  background-color: #FF1D25;
  padding: 11px 19px;
  font-size: 12px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 0;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  font-family: "Open Sans";
  vertical-align: top;
}

#reg-btn{
  color: white;
  background-color: #FF1D25;
  padding: 11px 19px;
  font-size: 17.5px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  font-family: "Open Sans";
}

#footer_creds {
  font-family: "Open Sans";
  text-align: center;
}

#footer_creds #class_name {
  color:#FF1D25;
}

header, footer {
  font-family: "Open Sans";
}

header li {
  font-family: "Open Sans";
}

#nav a:active {
  color:#FF1D25;
}

footer p {
  padding-top: 5px;
  padding-left: 5px;
}

#brand {
  color:#FF1D25;
}

.brand {
  margin: 0;
}

.pill-content {
  background-color: #E8E8E8;
  border-radius:5px;
  border:1px;
  padding:10px;
  height:400px;
}

#company_nav {
  font-family: "Open Sans";
}

#general{
  font-family: "Open Sans";
  margin-left:10px;
}

#sub_general, #sub_general_right {
  text-align: left;
}

#interviews {
  font-family: "Open Sans";
  margin-left: 10px;
  margin-right:10px;
}

#questions {
  font-family: "Open Sans";
  margin-left: 10px;
  margin-right:10px;
}

#up_arrow {
  margin-right:5px;
}

.vote_container {
  display: inline-block;
}
.voting_up {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.voting_down {
  display: inline-block;
  width: 20px;
  text-align: center;
  text-color:#FF1D25;
}

.voting_down i,
.voting_down p {
  color: #FF1D25;
}

.voting_up:hover {
  background-color: #f5f5f5;
  color:#FF1D25;
}

#question_stuff {
  vertical-align: top;
  display: inline-block;
  width: 95%;
  margin-left: 5px;
}


